---
kind: ClusterIssuer
apiVersion: cert-manager.io/v1
metadata:
  name: cert-manager-freeipa
  spec:
    acme:
      email: {{ cert_manager_freeipa_user }}@{{ certmanager_company_domain.msg }}
      server: https://ipa-ca.{{ certmanager_company_domain.msg }}/acme/directory
      privateKeySecretRef:
        name: freeipa-auth
      solvers:
        - http01:
            ingress:
                class: nginx

