---
apiVersion: v1
kind: Secret
metadata:
  name: freeipa-auth
  namespace: cert-manager
data:
  user: {{ cert_manager_freeipa_user | b64encode }}
  password: {{ certmanager_user_password.ansible_facts.password | b64encode }}
